[submodule "themes/next"]
	path = themes/next
	url = git@github.com:BulletTrain/hexo-theme-next.git
[submodule "themes/icarus"]
	path = themes/icarus
	url = https://github.com/BulletTrain/hexo-theme-icarus.git
